@import './variables.scss';

.flex-container-background {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        0deg,
        $dark-blue 30%,
        $blue 65%,
        $light-blue 100%
    );
    height: 100vh;
    align-items: center;
    text-align: center;

    h1,
    h3,
    h5 {
        color: white;
    }
}

.container {
    @extend .flex-container-background;
    justify-content: flex-start;
    padding: 5rem 0 0;
}

.errorContainer {
    @extend .flex-container-background;
    justify-content: center;
}

.errorMessage {
    position: absolute;
    top: 10px;
}
