@import './variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(
        0deg,
        $dark-blue 0%,
        $blue 35%,
        $light-blue 100%
    );

    h1 {
        color: white;
    }
}
